<!DOCTYPE html>
<html lang="en" style="background:#F7F7F2">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Pablo Romano</title>

	<!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="jumbotron.css" rel="stylesheet">
</head>

<body style="background:#F7F7F2">
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> Pablo Romano </a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">About Me</a></li>
					<li><a href="/skills">Skills</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/good_dog">Who's a Good Dog</a></li>
					<li><a href="https://github.com/pgromano/Markov_Models">Markov Models</a></li>
					<!--
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				          Projects <span class="caret"></span>
				        </a>
						<ul class="dropdown-menu">
							<li><a href="/good_dog">Who's a Good Dog</a></li>
							<li><a href="https://github.com/pgromano/Markov_Models">Markov Models</a></li>
						</ul>
					</li>
					-->
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container"> <!-- Open: Search Container -->
		<div style="background:#2D232E; color:#F7F7F2" class="jumbotron">
			<div class="container">
				<div class="col-lg-8 text-left">
					<h1> About Me </h1>
					<h3> Data Scientist • PhD Physical Chemist • Texan</h3>
				</div>
				<div class="col-lg-3 text-right">
					<div class="img-circle">
						<img src="../static/icons/profile.jpg" alt="Pablo Romano" width="175px">
					</div>
				</div>
				<div class="col-lg-1">
					<div class="row">
						<a href="https://github.com/pgromano" style="font-size:36px; color:#F7F7F2"> <i class="fa fa-github"></i></a>
					</div>
					<div class="row">
						<a href="https://linkedin.com/in/pgromano" style="font-size:36px; color:#F7F7F2"> <i class="fa fa-linkedin-square"></i></a>
					</div>
					<div class="row">
						<a href="https://twitter.com/__pgromano__" style="font-size:36px; color:#F7F7F2"> <i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="jumbotron" style="background:#F7F7F2">
			<div class="col-lg-12">
				<p>
					Data scientist with strong machine-learning, Markov statistics, python programming, and research science. Experienced in unsupervised learning methods such as clustering and dimensionality reduction, supervised learning for numerical and text data, and linear/logistic regression. I received my PhD in physical chemistry modeling kinetic pathways in DNA unstacking as discrete time Markov chains.
					<br><br>
					In my spare time I like to explore nature, play music, and find/cook/eat good food. Please feel free to explore through this site. I've posted information about technical skills, education, and some ongoing projects.
				</p>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src='../static/js/bootstrap.js'></script>
	<script type="text/javascript" src='../static/js/bootstrap.min.js'></script>
</body>

</html>
