
<!DOCTYPE html>
<html lang="en" style="background:#F7F7F2">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Who's a Good Dog?</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body style="background:#F7F7F2">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="background:#F7F7F2" class="jumbotron">
      <div class="container">
        <h1>
          Who's a Good Dog?
          <img src="../static/icons/dog_logo.svg" width="5%" class="text-right" alt="...">
        </h1>
        <h3 style="line-height:50px"> Find which dog is right for you! </h3>
        <p>Finding a dog can be difficult! There are a lot of great resources, but so many of them have such extreme "cute" language it's hard to know much about the dog! With "Who's a Good Dog?" you can search pets by the personalities best for your lifestyle. No more reading through cutesy-wootsy, lil wil, sweet angels, with or without their marbles. </p>
      </div>
    </div>

    <!-- Filters -->
    <div class="container">

        <!-- Breed Filter -->
        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn-lg" type="button" id="breed" name='breed' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%">
              Breed
            </button>
            <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Affenpinscher</a></li>
              <li><a href="#">Afghan Hound</a></li>
              <li><a href="#">Airedale Terrier</a></li>
              <li><a href="#">Akbash</a></li>
              <li><a href="#">Akita</a></li>
              <li><a href="#">Alaskan Malamute</a></li>
              <li><a href="#">American Bulldog</a></li>
              <li><a href="#">American Eskimo Dog</a></li>
              <li><a href="#">American Hairless Terrier</a></li>
              <li><a href="#">American Staffordshire Terrier</a></li>
              <li><a href="#">American Water Spaniel</a></li>
              <li><a href="#">Anatolian Shepherd</a></li>
              <li><a href="#">Appenzell Mountain Dog</a></li>
              <li><a href="#">Australian Cattle Dog / Blue Heeler</a></li>
              <li><a href="#">Australian Kelpie</a></li>
              <li><a href="#">Australian Shepherd</a></li>
              <li><a href="#">Australian Terrier</a></li>
              <li><a href="#">Basenji</a></li>
              <li><a href="#">Basset Hound</a></li>
              <li><a href="#">Beagle</a></li>
              <li><a href="#">Bearded Collie</a></li>
              <li><a href="#">Beauceron</a></li>
              <li><a href="#">Bedlington Terrier</a></li>
              <li><a href="#">Belgian Shepherd / Laekenois</a></li>
              <li><a href="#">Belgian Shepherd / Malinois</a></li>
              <li><a href="#">Belgian Shepherd / Sheepdog</a></li>
              <li><a href="#">Belgian Shepherd / Tervuren</a></li>
              <li><a href="#">Bernese Mountain Dog</a></li>
              <li><a href="#">Bichon Frise</a></li>
              <li><a href="#">Black and Tan Coonhound</a></li>
              <li><a href="#">Black Labrador Retriever</a></li>
              <li><a href="#">Black Mouth Cur</a></li>
              <li><a href="#">Black Russian Terrier</a></li>
              <li><a href="#">Bloodhound</a></li>
              <li><a href="#">Blue Lacy</a></li>
              <li><a href="#">Bluetick Coonhound</a></li>
              <li><a href="#">Boerboel</a></li>
              <li><a href="#">Bolognese</a></li>
              <li><a href="#">Border Collie</a></li>
              <li><a href="#">Border Terrier</a></li>
              <li><a href="#">Borzoi</a></li>
              <li><a href="#">Boston Terrier</a></li>
              <li><a href="#">Bouvier des Flanders</a></li>
              <li><a href="#">Boxer</a></li>
              <li><a href="#">Boykin Spaniel</a></li>
              <li><a href="#">Briard</a></li>
              <li><a href="#">Brittany Spaniel</a></li>
              <li><a href="#">Brussels Griffon</a></li>
              <li><a href="#">Bull Terrier</a></li>
              <li><a href="#">Bullmastiff</a></li>
              <li><a href="#">Cairn Terrier</a></li>
              <li><a href="#">Canaan Dog</a></li>
              <li><a href="#">Cane Corso Mastiff</a></li>
              <li><a href="#">Carolina Dog</a></li>
              <li><a href="#">Catahoula Leopard Dog</a></li>
              <li><a href="#">Cattle Dog</a></li>
              <li><a href="#">Caucasian Sheepdog / Caucasian Ovtcharka</a></li>
              <li><a href="#">Cavalier King Charles Spaniel</a></li>
              <li><a href="#">Chesapeake Bay Retriever</a></li>
              <li><a href="#">Chihuahua</a></li>
              <li><a href="#">Chinese Crested Dog</a></li>
              <li><a href="#">Chinese Foo Dog</a></li>
              <li><a href="#">Chinook</a></li>
              <li><a href="#">Chocolate Labrador Retriever</a></li>
              <li><a href="#">Chow Chow</a></li>
              <li><a href="#">Cirneco dell'Etna</a></li>
              <li><a href="#">Clumber Spaniel</a></li>
              <li><a href="#">Cockapoo</a></li>
              <li><a href="#">Cocker Spaniel</a></li>
              <li><a href="#">Collie</a></li>
              <li><a href="#">Coonhound</a></li>
              <li><a href="#">Corgi</a></li>
              <li><a href="#">Coton de Tulear</a></li>
              <li><a href="#">Curly-Coated Retriever</a></li>
              <li><a href="#">Dachshund</a></li>
              <li><a href="#">Dalmatian</a></li>
              <li><a href="#">Dandi Dinmont Terrier</a></li>
              <li><a href="#">Doberman Pinscher</a></li>
              <li><a href="#">Dogo Argentino</a></li>
              <li><a href="#">Dogue de Bordeaux</a></li>
              <li><a href="#">Dutch Shepherd</a></li>
              <li><a href="#">English Bulldog</a></li>
              <li><a href="#">English Cocker Spaniel</a></li>
              <li><a href="#">English Coonhound</a></li>
              <li><a href="#">English Pointer</a></li>
              <li><a href="#">English Setter</a></li>
              <li><a href="#">English Shepherd</a></li>
              <li><a href="#">English Springer Spaniel</a></li>
              <li><a href="#">English Toy Spaniel</a></li>
              <li><a href="#">Entlebucher</a></li>
              <li><a href="#">Eskimo Dog</a></li>
              <li><a href="#">Feist</a></li>
              <li><a href="#">Field Spaniel</a></li>
              <li><a href="#">Fila Brasileiro</a></li>
              <li><a href="#">Finnish Lapphund</a></li>
              <li><a href="#">Finnish Spitz</a></li>
              <li><a href="#">Flat-Coated Retriever</a></li>
              <li><a href="#">Fox Terrier</a></li>
              <li><a href="#">Foxhound</a></li>
              <li><a href="#">French Bulldog</a></li>
              <li><a href="#">Galgo Spanish Greyhound</a></li>
              <li><a href="#">German Pinscher</a></li>
              <li><a href="#">German Shepherd Dog</a></li>
              <li><a href="#">German Shorthaired Pointer</a></li>
              <li><a href="#">German Spitz</a></li>
              <li><a href="#">German Wirehaired Pointer</a></li>
              <li><a href="#">Giant Schnauzer</a></li>
              <li><a href="#">Glen of Imaal Terrier</a></li>
              <li><a href="#">Golden Retriever</a></li>
              <li><a href="#">Gordon Setter</a></li>
              <li><a href="#">Great Dane</a></li>
              <li><a href="#">Great Pyrenees</a></li>
              <li><a href="#">Greater Swiss Mountain Dog</a></li>
              <li><a href="#">Greyhound</a></li>
              <li><a href="#">Hamiltonstovare</a></li>
              <li><a href="#">Harrier</a></li>
              <li><a href="#">Havanese</a></li>
              <li><a href="#">Hound</a></li>
              <li><a href="#">Hovawart</a></li>
              <li><a href="#">Husky</a></li>
              <li><a href="#">Ibizan Hound</a></li>
              <li><a href="#">Icelandic Sheepdog</a></li>
              <li><a href="#">Illyrian Sheepdog</a></li>
              <li><a href="#">Irish Setter</a></li>
              <li><a href="#">Irish Terrier</a></li>
              <li><a href="#">Irish Water Spaniel</a></li>
              <li><a href="#">Irish Wolfhound</a></li>
              <li><a href="#">Italian Greyhound</a></li>
              <li><a href="#">Italian Spinone</a></li>
              <li><a href="#">Jack Russell Terrier</a></li>
              <li><a href="#">Jack Russell Terrier (Parson)</a></li>
              <li><a href="#">Japanese Chin</a></li>
              <li><a href="#">Jindo</a></li>
              <li><a href="#">Kai Dog</a></li>
              <li><a href="#">Karelian Bear Dog</a></li>
              <li><a href="#">Keeshond</a></li>
              <li><a href="#">Kerry Blue Terrier</a></li>
              <li><a href="#">Kishu</a></li>
              <li><a href="#">Klee Kai</a></li>
              <li><a href="#">Komondor</a></li>
              <li><a href="#">Kuvasz</a></li>
              <li><a href="#">Kyi Leo</a></li>
              <li><a href="#">Labrador Retriever</a></li>
              <li><a href="#">Lakeland Terrier</a></li>
              <li><a href="#">Lancashire Heeler</a></li>
              <li><a href="#">Leonberger</a></li>
              <li><a href="#">Lhasa Apso</a></li>
              <li><a href="#">Lowchen</a></li>
              <li><a href="#">Maltese</a></li>
              <li><a href="#">Manchester Terrier</a></li>
              <li><a href="#">Maremma Sheepdog</a></li>
              <li><a href="#">Mastiff</a></li>
              <li><a href="#">McNab</a></li>
              <li><a href="#">Miniature Pinscher</a></li>
              <li><a href="#">Miniature Schnauzer</a></li>
              <li><a href="#">Mixed Breed</a></li>
              <li><a href="#">Mountain Cur</a></li>
              <li><a href="#">Mountain Dog</a></li>
              <li><a href="#">Munsterlander</a></li>
              <li><a href="#">Neapolitan Mastiff</a></li>
              <li><a href="#">New Guinea Singing Dog</a></li>
              <li><a href="#">Newfoundland Dog</a></li>
              <li><a href="#">Norfolk Terrier</a></li>
              <li><a href="#">Norwegian Buhund</a></li>
              <li><a href="#">Norwegian Elkhound</a></li>
              <li><a href="#">Norwegian Lundehund</a></li>
              <li><a href="#">Norwich Terrier</a></li>
              <li><a href="#">Nova Scotia Duck Tolling Retriever</a></li>
              <li><a href="#">Old English Sheepdog</a></li>
              <li><a href="#">Otterhound</a></li>
              <li><a href="#">Papillon</a></li>
              <li><a href="#">Patterdale Terrier / Fell Terrier</a></li>
              <li><a href="#">Pekingese</a></li>
              <li><a href="#">Peruvian Inca Orchid</a></li>
              <li><a href="#">Petit Basset Griffon Vendeen</a></li>
              <li><a href="#">Pharaoh Hound</a></li>
              <li><a href="#">Pit Bull Terrier</a></li>
              <li><a href="#">Plott Hound</a></li>
              <li><a href="#">Podengo Portugueso</a></li>
              <li><a href="#">Pointer</a></li>
              <li><a href="#">Polish Lowland Sheepdog</a></li>
              <li><a href="#">Pomeranian</a></li>
              <li><a href="#">Poodle</a></li>
              <li><a href="#">Portuguese Water Dog</a></li>
              <li><a href="#">Presa Canario</a></li>
              <li><a href="#">Pug</a></li>
              <li><a href="#">Puli</a></li>
              <li><a href="#">Pumi</a></li>
              <li><a href="#">Rat Terrier</a></li>
              <li><a href="#">Redbone Coonhound</a></li>
              <li><a href="#">Retriever</a></li>
              <li><a href="#">Rhodesian Ridgeback</a></li>
              <li><a href="#">Rottweiler</a></li>
              <li><a href="#">Rough Collie</a></li>
              <li><a href="#">Saint Bernard / St. Bernard</a></li>
              <li><a href="#">Saluki</a></li>
              <li><a href="#">Samoyed</a></li>
              <li><a href="#">Sarplaninac</a></li>
              <li><a href="#">Schipperke</a></li>
              <li><a href="#">Schnauzer</a></li>
              <li><a href="#">Scottish Deerhound</a></li>
              <li><a href="#">Scottish Terrier Scottie</a></li>
              <li><a href="#">Sealyham Terrier</a></li>
              <li><a href="#">Setter</a></li>
              <li><a href="#">Shar Pei</a></li>
              <li><a href="#">Sheep Dog</a></li>
              <li><a href="#">Shepherd</a></li>
              <li><a href="#">Shetland Sheepdog Sheltie</a></li>
              <li><a href="#">Shiba Inu</a></li>
              <li><a href="#">Shih Tzu</a></li>
              <li><a href="#">Siberian Husky</a></li>
              <li><a href="#">Silky Terrier</a></li>
              <li><a href="#">Skye Terrier</a></li>
              <li><a href="#">Sloughi</a></li>
              <li><a href="#">Smooth Collie</a></li>
              <li><a href="#">Smooth Fox Terrier</a></li>
              <li><a href="#">South Russian Ovtcharka</a></li>
              <li><a href="#">Spaniel</a></li>
              <li><a href="#">Spanish Water Dog</a></li>
              <li><a href="#">Spitz</a></li>
              <li><a href="#">Staffordshire Bull Terrier</a></li>
              <li><a href="#">Standard Poodle</a></li>
              <li><a href="#">Standard Schnauzer</a></li>
              <li><a href="#">Sussex Spaniel</a></li>
              <li><a href="#">Swedish Vallhund</a></li>
              <li><a href="#">Terrier</a></li>
              <li><a href="#">Thai Ridgeback</a></li>
              <li><a href="#">Tibetan Mastiff</a></li>
              <li><a href="#">Tibetan Spaniel</a></li>
              <li><a href="#">Tibetan Terrier</a></li>
              <li><a href="#">Tosa Inu</a></li>
              <li><a href="#">Toy Fox Terrier</a></li>
              <li><a href="#">Treeing Walker Coonhound</a></li>
              <li><a href="#">Vizsla</a></li>
              <li><a href="#">Weimaraner</a></li>
              <li><a href="#">Welsh Corgi</a></li>
              <li><a href="#">Welsh Springer Spaniel</a></li>
              <li><a href="#">Welsh Terrier</a></li>
              <li><a href="#">West Highland White Terrier Westie</a></li>
              <li><a href="#">Wheaten Terrier</a></li>
              <li><a href="#">Whippet</a></li>
              <li><a href="#">White German Shepherd</a></li>
              <li><a href="#">Wire Fox Terrier</a></li>
              <li><a href="#">Wirehaired Dachshund</a></li>
              <li><a href="#">Wirehaired Pointing Griffon</a></li>
              <li><a href="#">Wirehaired Terrier</a></li>
              <li><a href="#">Xoloitzcuintle / Mexican Hairless</a></li>
              <li><a href="#">Yellow Labrador Retriever</a></li>
              <li><a href="#">Yorkshire Terrier Yorkie</a></li>
            </ul>
          </div>
        </div>

        <!-- Age Filter -->
        <div class="col-lg-4">
         <div class="dropdown">
           <button class="btn-lg" type="button" id="age" name='age' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%">
             Age
           </button>
           <ul class="dropdown-menu" aria-labelledby="age">
             <li><a href="#">Baby</a></li>
             <li><a href="#">Young</a></li>
             <li><a href="#">Adult</a></li>
             <li><a href="#">Senior</a></li>
           </ul>
         </div>
        </div>

        <!-- Gender Filter -->
        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn-lg" type="button" id="gender" name='gender' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%">
              Gender
            </button>
            <ul class="dropdown-menu" aria-labelledby="gender">
              <li><a href="#">Female</a></li>
              <li><a href="#">Male</a></li>
            </ul>
          </div>
        </div>
    </div> <!-- /container -->

    <!-- Search Bar -->
    <div style="background:#5DD9C1" class="jumbotron">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <form action="/output" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" id="search" name='search' placeholder="Search personalities...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-lg-2"></div>
        <!--
        <div class="col-sm-2">
          <form action="/output" method="GET">
            <div class="input-group">
              <input class="form-control" type="text" id="location" name='location' placeholder="Zip Code" >
            </div>
          </form>
        </div>
      -->
      </div>
    </div>

    <div class="container">
      <hr>
      <footer>
        <p>Powered by &copy; 2018 Petfinder.com.</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
