
<!DOCTYPE html>
<html lang="en" style="background:#F7F7F2">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Who's a Good Dog?</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body style="background:#F7F7F2">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="background:#F7F7F2" class="jumbotron">
      <div class="container">
        <h1>
          Who's a Good Dog?
          <img src="../static/icons/dog_logo.svg" width="5%" class="text-right">
        </h1>
    </div>


    <div class="container">
      <div class="container" style="background:#5DD9C1">
          <p class="lead"> You searched for "<b>{{search}}</b>" dogs in {{location}}</p>
      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    </div>

    <!-- Query Results -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[0]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[0] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[0] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[0] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[0][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[0][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[1]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[1] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[1] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[1] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[1][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[1][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[2]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[2] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[2] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[2] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[2][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[2][:250]}} -->
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[3]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[3] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[3] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[3] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[3][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[3][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[4]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[4] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[4] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[4] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[4][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[4][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[5]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[5] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[5] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[5] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[5][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[5][:250]}} -->
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[6]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[6] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[6] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[6] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[6][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[6][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[7]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[7] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[7] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[7] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[7][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[7][:250]}} -->
          </p>
        </div>

        <div class="col-lg-4">
          <h3> {{db['Name'].iloc[8]}}</h3>
          <div style="width: 200px; height: 200px; overflow: hidden">
            <img src={{ db['Photos'].iloc[8] }} width="200px" class="rounded text-right">
          </div>
          <h4>
            Match: {{db['Score'].iloc[8] | round | int}}%,
            <a href={{ "https://www.petfinder.com/petdetail/" + db.index[8] }} style="color:#5DD9C1"> <b>Adopt!</b></a>
          </h4>
          <p>
            <b>Summary</b>: {{db['Topics'].iloc[8][:150]}}
          <!-- <br> {{db['Raw Description'].iloc[8][:250]}} -->
          </p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="container">
      <hr>
      <footer>
        <p>Powered by &copy; 2018 Petfinder.com.</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery, document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.j<br>s"></script>
  </body>
</html>
